<nav>
    {% image "./src/images/LOG-2.png", "Segata Sanshiro", "(min-width: 30em) 50vw, 100vw" %}
    <ul>
        {% for item in navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>