<nav>
    <img src="/assets/images/logo.png" alt="Logo" class="logo">
    <ul>
        {% for item in navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>