@use "reset";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
$base-size: 1rem;

body {
    margin-inline: auto;
    background-color: #f5f5f5;
    color: #272727;
    font-family: 'Roboto', sans-serif;
}

.wSide {
    max-width: min(80ch, 100vw - 1rem);
}

footer {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h1,
h2,
h3 {
    letter-spacing: 0.1rem;
    font-family: 'Permanent Marker', cursive;
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.5rem
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

dl {
    margin-bottom: 1.5rem;
}

dt {
    font-size: 1.2rem;
}

dd {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

nav {
    display: flex;
    background-color: #203155;
    color: #f5f5f5;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    a {
        color: #f5f5f5;
    }
}

a {
    text-decoration: none;
}

a:hover {
    background-color: blueviolet;
}


nav>ul {
    display: flex;
    gap: $base-size;
    list-style: none;
    padding: 0;

}

picture>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1.0rem;
    margin-top: 1.5rem;


    @media (max-width: 900px) {
        flex-direction: column-reverse;
    }
}

.sidebar {
    /* ↓ The width when the sidebar _is_ a sidebar */
    flex-basis: 20rem;
    flex-grow: 1;
    margin-right: 2rem;

    @media (min-width: 700px) {
        margin-left: 5rem;
    }

    @media (max-width: 699px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.not-sidebar {
    /* ↓ Grow from nothing */
    flex-basis: 0;
    flex-grow: 999;
    /* ↓ Wrap when the elements are of equal width */
    min-inline-size: 50%;

    @media (min-width: 700px) {
        margin-left: 5rem;
        margin-right: 2rem;
    }

    @media (max-width: 699px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.logo {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:  1rem;
    padding-bottom:  1rem;

    @media (max-width: 700px) {
        height: 30%;
        width: 30%;
    }
}